body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to top, #0052d4, #4364f7, #6fb1fc);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.modalOverlay {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  max-width: 750px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
 
.container {
  max-width: 900px;
  margin: 0 auto;
  min-height: 100%;
}

.tableImg {
  height: 210px;
  width: 150px;
  margin-bottom: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid black;
}
 

.tableHeader {
  min-width: 900px;
  margin: 0 auto;
  background-color: #315481;
  background-image: linear-gradient(to top, #0052d4, #4364f7, #6fb1fc);
  box-sizing: border-box;
  height: 56px;
  position: fixed;
  z-index: 10;
  text-align: center;
}

.ReactVirtualized__Table {
  position: relative;
  top: 91px;
}

.ReactVirtualized__Table__Grid {
}

.ReactVirtualized__Table__headerRow {
  background-color: white;
  z-index: 10;
  position: fixed;
  top: 56px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          text-align: center;
}

.ReactVirtualized__Table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          border-radius: 0 0 15px 15px;
          text-align: center;
          font-size: 16px;
}

.ReactVirtualized__Table__row:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #315481;
}

.ReactVirtualized__Table__row:nth-child(odd) {
  background: #fafafa;
}

.ReactVirtualized__Table__row:nth-child(even) {
  background: #ebebeb;
}

.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
}
.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
}

.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}